{% extends 'blog_base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/post_create.css" %}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="create_box">
    <div class="form_box">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="create_content">
                {{ form.media }}
                {{ form.as_p }}
            </div>
            <br>
            <br>
            <input type="submit" value="저장" class="submit_btn"/>
        </form>
    </div>
</div>
{% endblock %}
