{% extends 'blog_base.html' %}

{% load static %}

{% block extrahead %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
{{ object.update_counter }}

<h2>{{ object.title }}</h2>


<p>{{ object.modify_dt|date:"j F Y" }}</p>
<br>
<div>
    {{ object.content | safe}}
</div>
<br>
<div>
    <b>TAGS</b> <i class="fas fa-tag"></i>
    {% load taggit_templatetags2_tags %}
    {% get_tags_for_object object as "tags" %}
    {% for tag in tags %}
    <a href="{% url 'board:tagged_object_list' tag.name %}">{{tag.name}}</a>
    {% endfor %}

    &emsp;
    <a href="{% url 'board:tag_cloud' %}"><span class="btn btn-info btn-sm">TagCloud</span></a>
</div>
{% endblock %}
