/*네비게이션바*/
nav{
    position: sticky;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    box-shadow: 0 0 10px 1px silver;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    text-align: center;
}
nav .nav_container{
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav .nav_item{
    line-height: 40px;
    vertical-align: middle;
    float: left;
    padding: 0;
    cursor: pointer;
    font-family: 'GmarketSansBold';
    color: #7E727F;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 14%;
}

nav .nav_item a:link{
    color: #7E727F;
}
nav .nav_item a:visited{
    color: #7E727F;
}
nav .nav_item a:hover{
    color: black;
}

.sub_menu{
    font-family: 'GmarketSansMedium';
    display: none;
    position: relative;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    min-width: 200px;
}

.sub_menu a{
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
}
.sub_menu a:hover {
    background-color: #ddd;
    font-family: 'GmarketSansBold';
}

.nav_item:hover .sub_menu {
    display: block;
}

.nav_item:hover .nav_item{
    background-color: #3e8e41;
}
