*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
    overflow-x: hidden;
    font-family: 'ELAND_Choice_M';
}
.create_box{
    background-color: #CAAC99;
    padding-left: 15%;
    padding-top: 50px;
    padding-right: 15%;
    height: 1000px;
}
label{
    font-size: 20px;
}
p{
    padding: 7px;
}
.form_box{
    border: 0px solid;
    padding: 30px;
    padding-left: 15%;
    padding-right: 5%;
    border-radius: 20px;
    background-color: #fff;
}
.title_box{
    padding: 2px;
    width: 65%;
    height: 30px;
    font-size: 20px;
}

.description_box{
    padding: 2px;
    width: 65%;
    height: 30px;
    font-size: 20px;
}
.tags_box{
    padding: 2px;
    width: 20%;
    height: 30px;
    font-size: 20px;
}
.submit_btn{
    position:relative;
    left:42%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:200px;
    height:40px;
    background: linear-gradient(125deg,#FA9C86,#E3746F,#FD7CAC);
    background-position: left;
    background-size: 200%;
    color:white;
    font-size: 18px;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}
.submit_btn:hover {
    background-position: right;
}
