*{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
body{
    overflow-x: hidden;
    font-family: 'ELAND_Choice_M';
}
.post_box{
    background-color: #CAAC99;
    padding-left: 10%;
    padding-top: 50px;
    padding-right: 10%;
    height: auto;
}
.total_box{
    border: 0px solid;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    background-color: #fff;
}
.title_box{
    font-size: 25px;
}

.info_box span{
    padding-right: 30px;
    color: grey;
}
.description_box{
    font-size: 18px;
}
.content_box{
    line-height: 200%;
}

.tags_box p{
    font-weight: bold;
    font-size: 20px;

}
.tag_box{
    background-color: green;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    float: left;
    padding: 5px;
    margin-right: 10px;

}
.tag_box a:link{
    color: white;
}
.tag_box a:visited{
    color: white;
}
.tag_box:hover{
    background-color: #205E31;
}
.tag_cloud_box{
    background-color: #3E3069;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
.tag_cloud_box a:link{
    color: white;
}
.tag_cloud_box a:visited{
    color: white;
}
.tag_cloud_box:hover{
    background-color: #5E4D94;
}
.fix_btn{
    margin-left: 83%;
}
.update_btn{
    background-color: blue;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    float: left;
    padding: 5px;
    margin-right: 10px;

}
.update_btn a:link{
    color: white;
}
.update_btn a:visited{
    color: white;
}
.update_btn:hover{
    background-color: #130874;
}

.delete_btn{
    background-color: red;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    float: left;
    padding: 5px;
    margin-right: 10px;

}
.delete_btn a:link{
    color: white;
}
.delete_btn a:visited{
    color: white;
}
.delete_btn:hover{
    background-color: #6B1A18;
}
