{% extends 'blog_base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/blog_login.css" %}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}


{% if user.is_authenticated %}
    {{ user.username }}의 로그인 인증 성공
{% else %}
    <form action="" method="POST" class="login_form">
        <h2>Login</h2>
        {% csrf_token %}
        <div class="id_form">
            <input name="username" type="text" class="id" placeholder="ID">
        </div>
        <div class="pw_form">
            <input name="password" type="password" class="pw" placeholder="PW">
        </div>
        <input type="submit" value="로그인" class="btn">

        <div class "move_signup">
            <span>Don't you have Account? </span><a href="{% url 'accounts:signup' %}">sign up</a>
        </div>
    </form>

{% endif %}
{% endblock %}
