{% extends 'blog_base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/blog_main/blog_main_total.css" %}">
<link rel="stylesheet" href="{% static "css/blog_main/blog_main_content.css" %}">
<link rel="stylesheet" href="{% static "css/blog_main/blog_main_ad.css" %}">
<link rel="stylesheet" href="{% static "css/blog_main/blog_main_widget_1.css" %}">
<link rel="stylesheet" href="{% static "css/blog_main/blog_main_sidebar.css" %}">
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
<div class="main_page">
    <div class="sidebar">
        <div class="inside_sidebar">
            <h2>Blog Info.</h2>
            <div class="profile_img">
                <img src="/static/images/profile_img.png" alt="프로필 이미지">
            </div>

            <div class="blog_description">
                <p>This blog made of Django</p>
                <p>I'll try to post once a day</p>
                <br>
            </div>
            <br>
            <div class="quick_link">
                <a href="/" class="move_link">
                    <div class="imgswap" >
                        <img src="/static/images/insta_icon_low.png" alt="인스타">
                        <img src="/static/images/insta_icon.png" alt="인스타">
                    </div>
                </a>
                <a href="/" class="move_link">
                    <div class="imgswap" >
                        <img src="/static/images/mail_icon_low.png" alt="메일">
                        <img src="/static/images/mail_icon.png" alt="메일">
                    </div>
                </a>
                <a href="/" class="move_link">
                    <div class="imgswap" >
                        <img src="/static/images/fab_icon_low.png" alt="페북">
                        <img src="/static/images/fab_icon.png" alt="페북">
                    </div>
                </a>
                <a href="/" class="move_link">
                    <div class="imgswap" >
                        <img src="/static/images/kakao_icon_low.png" alt="카톡">
                        <img src="/static/images/kakao_icon.png" alt="카톡">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="main_content">
        <div class="board_top">
            <h2>최근 게시글</h2>
            <table>
                <thead>
                    <tr>
                        <th class="thead_title">Title</th>
                        <th class="thead_nickname">Nickname</th>
                        <th class="thead_date">Create Date</th>
                        <th class="thead_hit">Hit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts|slice:":5" %}
                    <tr class="top_text">
                        <td class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                        <td class="nickname">{{ post.writer.nickname }}</td>
                        <td class="date">{{ post.create_dt|date:"m/d  h:i" }}</td>
                        <td class="hit">{{ post.hit }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="widget_1">
        <div class="inside_widget_1">
            <h2>공지사항</h2>
            <br>
            <p>테스트 운영중입니다</p>
            <p>로그인 하시면 글도 쓸 수 있습니다!!</p>
        </div>
    </div>
    <div class="widget_2">
    </div>
    <div class="bottom_ad">
        <div class="kakao_ad">
            <ins class="kakao_ad_area" style="display:none;"
                 data-ad-unit    = "DAN-ZEtqwGJdkxqPNnI4"
                 data-ad-width   = "320"
                 data-ad-height  = "100">
            </ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
    </div>
</div>

{% endblock %}
