body{
    overflow-x: hidden;
}
body{
    background-color: #CAAC99;

}
.main_page{
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    text-decoration: none;
}
div{
    float: left;
}

.sidebar{
    width: 15%;
    height: 1000px;
    background: white;
    margin: 20px;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
}
.main_content{
    width: 55%;
    height: 1000px;
    background: white;
    margin: 20px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 0;
    padding: 20px;

}
.widget_1{
    width: 18%;
    height: 500px;
    background: white;
    margin: 20px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 0;
    padding: 20px;
}
.widget_2{
    width: 18%;
    height: 500px;
    background: white;
    margin: 20px;
    border-radius: 20px;
    margin-left: 0;
    margin-top: 0;
    padding: 20px;
}
