.inside_widget_2{
    margin: 10px;
    margin-top: 0;
    font-family: 'GmarketSansMedium';
}
.inside_widget_2 h2{
    margin-bottom: 2px;
}

.inside_widget_2 h4{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 15px;
    color: grey;
    text-align: right;
}
.inside_widget_2 table{
    text-align: center;
}
