<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_font.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_base_total.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_base_header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_base_nav.css' %}">
{% block extrahead %}

{% endblock %}
<html lang="ko" dir="ltr">
    <head>
        <meta charset="utf-8"> <!--문자에 대한 정보를 나타냄 meta-->
        {% block title %}<title>PyPyStory</title>{% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon_blog.ico' %}"/>
    </head>
    <body>
        <header>
            <!--header logo-->
            <a href="/">
                <div class="hd_logo">
                    <span style="color:#306998;">P</span><span style="color:#E6C461;">y</span><span style="color:#306998;">P</span><span style="color:#E6C461;">y</span><span style="color:#306998;">Story</span>
                </div>
            </a>
            <!--로그인 회원가입-->
            <div class="sign_logo">
                {% if user.is_authenticated %}
                    <a href="/"><span class="my_page">마이페이지</span></a>
                    <hr>
                    <a href="{% url 'accounts:logout' %}"><span class="logout">로그아웃</span></a>


                {% else %}
                    <a href="{% url 'accounts:login' %}"><span class="signin">로그인</span></a>
                    <hr>
                    <a href="{% url 'accounts:signup' %}"><span class="signup">회원가입</span></a>
                {% endif %}
            </div>
        </header>
        <!--상단 메뉴-->
        <nav>
            <ul class="nav_container">
                <li class="nav_item"><a href="/">Coding</a></li>
                <li class="nav_item"><a href="/">Board</a></li>
                <li class="nav_item"><a href="/">Diary</a></li>
                <li class="nav_item"><a href="/">Finance</a></li>
                <li class="nav_item"><a href="/">Profile</a></li>
            </ul>
        </nav>
        {% block content %}

        {% endblock %}
        <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
        <script type="text/javascript">
        if(!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "12e145d9725e1b";
        if(window.wcs) {
          wcs_do();
        }
        </script>
    </body>
</html>
